@use './design-system/styles' as *;

html,
body {
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
  line-height: var(--leading-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
