@use './design-system/tokens/colors' as *;
@use './design-system/tokens/typography' as *;
@use './design-system/tokens/spacing' as *;
@use './design-system/tokens/grid' as *;
@use './design-system/components/grid/grid' as *;
@use './design-system/tokens/design-tokens' as *;

html,
body {
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
  line-height: var(--leading-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
